@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Inter:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TRPro';
  src: url('/fonts/TrajanPro-Regular.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Montserrat', sans-serif;
}
.bg-hero{
  background-image: url('/img/hero.svg');
}
.bg-locket{
  background-image: url('/img/digital-locket.png');
}
.bg-pearl{
  background-image: url('/img/ghry.png');
}
.bg-today{
  background-image: url('/img/bg-today.png');
}
.bg-product{
  background-image: url('/img/product-bg.svg');
}
.trajan-font {
  font-family: TRPro;
}
.inter-font {
  font-family: 'Inter', sans-serif;
}
.input {
  @apply border border-gray-300 text-gray-900 sm:text-sm rounded-md block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white ;
}
.btn-submit {
  @apply rounded-3xl bg-[#996D01] text-base font-normal text-white py-2 px-4 mx-auto;
}
.text-gold {
  @apply trajan-font text-[#996D01];
}
.text-gradient {
  @apply trajan-font bg-gradient-to-r from-yellow-500 via-yellow-600 to-yellow-500 bg-clip-text text-transparent;
}
.link-general {
  @apply text-base font-normal text-[#AAA599];
}
.link-active {
  @apply text-base font-semibold text-[#996D01];
}

.pulse {
  border-radius: 100%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: transparent;
  position: relative;
}

.pulse:before,
.pulse:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: #DBDBDB 2px solid;
    border-radius: 100%;
    animation: pulse 4s linear infinite;
}

.pulse:after{
    animation-delay: 2s;
}

.move-image{
  position: absolute;
  bottom: -18%;
  animation: moveUp 5s linear;
  z-index: 999;
}

@keyframes pulse {
    0%{
        transform: scale(2);
    }
    30%{
        transform: scale(2.4);
        opacity: 1;
        border: #DBDBDB 3px solid;
    }
    100%{
        transform: scale(4);
        opacity: 0;
        border: #DBDBDB 4px solid;
    }
}

@keyframes moveUp {
  from {
    transform: translateY(100%); /* Start from the bottom of the container */
  }
  to {
    transform: translateY(0); /* Move to the top of the container */
  }
}